Source: qtrfpowermeter
Section: devel
Priority: optional
Maintainer: Yuriy Kuzin
Build-Depends: debhelper (>= 9), qt5-qmake, qtbase5-dev, libqt5charts5-dev, libqt5serialport5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/coozoo/qtrfpowermeter

Package: qtrfpowermeter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a (>= 5.12), libqt5gui5 (>= 5.12), libqt5widgets5 (>= 5.12), libqt5charts5 (>= 5.12), libqt5serialport5 (>= 5.12)
Description: Application to visualize measured RF power and work with Chinese serial port RF power meters, 
 labeled as RF-Power500, RF-Power3000, RF-Power8000 (RF-500, RF-3000, RF-8000) Allows on fly visualization, 
 build charts of measured power and log data in csv format.

